.main-content{
  max-width: 400px;
  margin: auto;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


/* LIST BOATS */

.material-input{
    margin-left: 10px;
}

.transbox1{
    margin-top: -750px;
    margin-left: 700px;
    border: 1px solid #D0D0D0;
    background-color: #FFFFFF;
    width: 470px;
    height: 620px;
    position:absolute;
    font-size: 16px;
    border-radius: 5px;
}



