<link rel="stylesheet" type="text/css" href="css/search.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <div class="page-header">
        <h1>Search Results - Lake Monroe</h1>
    </div>
    <div id= "wrapper" style="align-content: middle">
        <figure class="box1">
            <div class="image"><img src="" alt="" style="width:336px;height:280px;" />
                <p>"I never met a sunset I didn't like."</p>
            </div>
            <figcaption>
                <h3>2012<br />Ski<span>Natique</span></h3>
                <a target="_blank" href="#">More Info</a>
            <div class="rating">
                <h6>Rating</h6>
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>       
            </figcaption>
        </figure>

        <figure class="box2">
            <div class="image"><img src="" alt="" style="width:336px;height:280px;" />
                <p>"Shells sink, dreams float. Life's good on our boat."</p>
            </div>
            <figcaption>
                <h3>2010 Voyager<span>Houseboat</span></h3>
                <a target="_blank" href="#">More Info</a>
            <div class="rating">
                <h6>Rating</h6>
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>       
            </figcaption>
        </figure>

        <figure class="box3">
            <div class="image"><img src="" alt="" style="width:336px;height:280px;" />
                <p>"To some, it's just water. To me, it's where I regain my sanity."</p>
            </div>
            <figcaption>
                <h3>2013<br />Dyna<span>Ski</span></h3>
                <a target="_blank" href="#">More Info</a>
            <div class="rating">
                <h6>Rating</h6>
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>  
            </figcaption>
        </figure>

       <figure class="box4">
                <div class="image"><img src="" alt="" style="width:336px;height:280px;" />
                    <p>"You can't buy HAPPINESS, but you can buy a BOAT. And that's pretty close!"</p>
                </div>
                <figcaption>
                    <h3>2014 Lowe<span>Pontoon SS</span></h3>
                    <a target="_blank" href="#">More Info</a>
                <div class="rating">
                    <h6>Rating</h6>
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>  
                </figcaption>
            </figure>

            <figure class="box5">
                <div class="image"><img src="" alt="" style="width:336px;height:280px;" />
                    <p>"I'm outdoorsy in that I like to drink on boats."</p>
                </div>
                <figcaption>
                    <h3>2008<br />Fountain<span>Power</span></h3>
                    <a target="_blank" href="#">More Info</a>
                <div class="rating">
                    <h6>Rating</h6>
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>  
                </figcaption>
            </figure>

            <figure class="box6">
                <div class="image"><img src="" alt="" style="width:336px;height:280px;" />
                    <p>"I like big boats and I cannot lie."</p>
                </div>
                <figcaption>
                    <h3>2017<br />Silverton<span>Yacht</span></h3>
                    <a target="_blank" href="#">More Info</a>
                <div class="rating">
                    <h6>Rating</h6>
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>  
                </figcaption>
            </figure>

            <figure class="box7">
                <div class="image"><img src="" alt="" style="width:336px;height:280px;" />
                    <p>"Eat..Sleep..Boat..Repeat"</p>
                </div>
                <figcaption>
                    <h3>2015<br />Moomba<span>WakeBoat</span></h3>
                    <a target="_blank" href="#">More Info</a>
                <div class="rating">
                    <h6>Rating</h6>
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>  
                </figcaption>
            </figure>

            <figure class="box8">
                <div class="image"><img src="" alt="" style="width:336px;height:280px;" />
                    <p>"All you need is sunshine and lake water."</p>
                </div>
                <figcaption>
                    <h3>2012<br />Monterey<span>Yacht</span></h3>
                    <a target="_blank" href="#">More Info</a>
                <div class="rating">
                    <h6>Rating</h6>
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>  
                </figcaption>
            </figure>

            <figure class="box9">
                <div class="image"><img src="" alt="" style="width:336px;height:280px;" />
                    <p>"I've got the pole, She has the bobbers"</p>
                </div>
                <figcaption>
                    <h3>2017<br />Phoenix<span></span></h3>
                    <a target="_blank" href="#">More Info</a>
                <div class="rating">
                    <h6>Rating</h6>
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>  
                </figcaption>
            </figure>

            <figure class="box10">
                <div class="image"><img src="" alt="" style="width:336px;height:280px;" />
                    <p>""</p>
                </div>
                <figcaption>
                    <h3>2016<br />Bennington<span>Pont</span></h3>
                    <a target="_blank" href="#">More Info</a>
                <div class="rating">
                    <h6>Rating</h6>
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>  
                </figcaption>
            </figure>

            <figure class="box11">
                <div class="image"><img src="" alt="" style="width:336px;height:280px;" />
                    <p>"What happens on the boat, stays on the boat"</p>
                </div>
                <figcaption>
                    <h3>2017<br />Ski<span>Natique</span></h3>
                    <a target="_blank" href="#">More Info</a>
                <div class="rating">
                    <h6>Rating</h6>
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>  
                </figcaption>
            </figure>

            <figure class="box12">
<!--                 <div class="image"><img src="http://plazacameras.com.au/images/aa.png" alt="sample80"/>
 -->                <div class="image"><img src="" alt="" style="width:336px;height:280px;" />
                    <p>"May your ANCHOR be tight, your CORK be loose, your RUM be spiced and your compass be true."</p>
                </div>
                <figcaption>
                    <h3>2015<br />Seaswirl<span>BowRider</span></h3>
                    <a target="_blank" href="#">More Info</a>
                <div class="rating">
                    <h6>Rating</h6>
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>  
                </figcaption>
            </figure>
         <div>
    
    <!-- <section>
    <div class="page-header">
    <h1>Searches</h1>
    </div>
    <div class="list-group">
    <a ng-repeat="search in vm.searches"
       ui-sref="searches.view({ searchId: search._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="search.created | date:'mediumDate'"></span>
        by
        <span ng-if="search.user" ng-bind="search.user.displayName"></span>
        <span ng-if="!search.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="search.name"></h4>
    </a>
    </div>
    <div class="alert alert-warning text-center" ng-if="vm.searches.$resolved && !vm.searches.length">
    No Searches yet, why don't you <a ui-sref="searches.create">create one</a>?
    </div>
    </section>
    -->






    <!-- 
    FOR BOAT IMAGES

    /* Demo purposes only */
    $(".hover").mouseleave(
    function () {
      $(this).removeClass("hover");
    }
    ); -->